<%= form_with(model: recipeingredient, local: true) do |form| %>
  <% if recipeingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipeingredient.errors.count, "error") %> prohibited this recipeingredient from being saved:</h2>

      <ul>
      <% recipeingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe %>
    <%= form.text_field :recipe, id: :recipeingredient_recipe %>
  </div>

  <div class="field">
    <%= form.label :ingredient %>
    <%= form.text_field :ingredient, id: :recipeingredient_ingredient %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
