<p id="notice"><%= notice %></p>

<img style="width: 300px; height: 300px" src="https://uz71pyzpz0-flywheel.netdna-ssl.com/wp-content/uploads/2017/10/pepperoni-pizza-cheese-dip-9a-700x690.jpg" alt="Card image cap">


<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @recipe.price %>
</p>

<% if user_signed_in? %>
  <%= form_for Pizza.new do |pz| %>
    <%= label_tag("Select your crust") %>
    <%= pz.collection_select :crust_id, Crust.order(:name),:id,:name, include_blank: true %>
    <%= pz.hidden_field :recipe_id, :value => @recipe.id %>
    <%= pz.hidden_field :user_id, :value => current_user.id %>
    </div>
    <%= pz.submit "Add to cart", class:"btn btn-primary" %>
  <% end %>

<% else %>
  <div class="btn btn-default"><td style="color: white">sign in to add to cart</td></div>
<% end %>

<!--
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>-->
